@media screen and (max-width: 600px){
    #header3{
        display: none;
    }
    #mobile-header3{
        position: fixed;
        display: block;
            background-color: rgba(255, 255, 255, 0);
        padding-top: 6px!important;
    padding-bottom: 6px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
        width: 100vw;
        transition: 0.3s;
        -ms-box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
        -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    }
    .mb-a{
        float: left;
        margin-left: 7.5%;
        
    }
    .nomb{
        background-color: #fff!important;
        transition: 0.3s;
    }
}@media screen and (max-width: 600px){
    .acl{
        float: inherit;
            width: 98%;
    display: block;
    margin-top: 30px!important;
    margin: 0 auto;
    }
    .archives{
        width: inherit;
        
    }
    #main{
        width: inherit;
    }
    .part{
        width: inherit;
        
    }
    .main-bar{
        width: inherit;
    }
    .bar{
        margin-left: 17.5px;
    }
    
    
}@media screen and (max-width: 1279px) and (min-width: 601px){
    
    #main{
        width: 780px;
    }
    .bar{
        margin-left: 35px;
    }
    .archives{
        width: 780px;
            margin: 0 2.6%;
    }
    .acl{
        width: 46%;
    }
    
    
}@media screen and (max-width: 834px) and (min-width: 600px){
    .acl{
        float: left;
            width: 45%;
    display: block;
    margin-top: 30px!important;
    
    }
    .art-box{
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .archives{
        width: inherit;
        
    }
    #main{
        width: inherit;
    }
    .part{
        width: inherit;
        
    }
    
    
}
@media all and (min-width: 500px) {
  .wrapper {
 display: flex;
  }
}